RAG Chatbot-1.json
{
  "name": "RAG Chatbot-1",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1488,
        16
      ],
      "id": "a927d80d-c7dc-49e6-b911-6a87c2c00d6d",
      "name": "When chat message received",
      "webhookId": "c216ac61-2bfb-4622-8152-822e8f2ea823"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a company policy assistant.\n\nAlways answer questions using the documents available in the vector store.\n\nIf the information is not found in the documents, reply:\n\"I couldn't find that information in the uploaded company policy.\"\n\nDo not make up answers."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -464,
        48
      ],
      "id": "933f910c-4cfc-458f-b778-fe1500d72459",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -544,
        304
      ],
      "id": "8bb8b04e-0e8e-46b2-889e-e74dec8753cf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5c9894bGqJZLG79v",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -384,
        336
      ],
      "id": "4e616804-1694-41e9-b037-36c4e8ccdf20",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        432
      ],
      "id": "35414cb2-f0fc-4bf0-8d67-4b311ed64c67",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "5c9894bGqJZLG79v",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to search the uploaded company policy documents and answer user questions based only on those documents.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -192,
        272
      ],
      "id": "3b4c65c3-9bbf-4598-8967-db1382588934",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "monishagaur02042004@gmail.com",
        "subject": "AI Response Approval Required",
        "message": "={{ $('AI Agent').item.json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        64,
        48
      ],
      "id": "8eec6d4d-1787-4ad3-8505-984f65175ab7",
      "name": "Send a message",
      "webhookId": "86577da3-08a8-4ddb-87ef-bac9b1d5854c",
      "credentials": {
        "gmailOAuth2": {
          "id": "fo3ZNsl9kBpeR3Vs",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2b2fc027-52bc-4d25-a59d-8435d84a4594",
              "leftValue": "={{$json.data.approved}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        48
      ],
      "id": "558ca2fa-2191-44bf-988d-637286d45675",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "monishagaur02042004@gmail.com",
        "subject": "Approved AI Response",
        "message": "=Approved Response:\n\n{{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        32
      ],
      "id": "92e5e95b-f2a6-4feb-9b27-50450eeed2ae",
      "name": "Send a message1",
      "webhookId": "e4c11579-a3be-4138-b33f-d9d06c67b0f3",
      "credentials": {
        "gmailOAuth2": {
          "id": "fo3ZNsl9kBpeR3Vs",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "monishagaur02042004@gmail.com",
        "subject": "AI Response Rejected",
        "message": "The reviewer rejected the AI-generated response.  No response has been sent.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        208
      ],
      "id": "655bca62-8ead-4316-b70e-293d76053e3a",
      "name": "Send a message2",
      "webhookId": "9b66bea1-6821-40b8-a4c7-6de956867dfa",
      "credentials": {
        "gmailOAuth2": {
          "id": "fo3ZNsl9kBpeR3Vs",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1j7TTnSBcp0aJdrl0HjZ9N45xaAAf0pBQFxUsXMJonp4",
          "mode": "list",
          "cachedResultName": "RAG Chatbot Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j7TTnSBcp0aJdrl0HjZ9N45xaAAf0pBQFxUsXMJonp4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j7TTnSBcp0aJdrl0HjZ9N45xaAAf0pBQFxUsXMJonp4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "User Question": "={{ $('When chat message received').item.json.chatInput }}",
            "AI Response": "={{ $('AI Agent').item.json.output }}",
            "Status": "Rejected"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Question",
              "displayName": "User Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Response",
              "displayName": "AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        240
      ],
      "id": "c8e1544a-d500-4dec-9a88-4df8fac67429",
      "name": "Rejected Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZGrOS6ZIK5uT83EM",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1j7TTnSBcp0aJdrl0HjZ9N45xaAAf0pBQFxUsXMJonp4",
          "mode": "list",
          "cachedResultName": "RAG Chatbot Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j7TTnSBcp0aJdrl0HjZ9N45xaAAf0pBQFxUsXMJonp4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j7TTnSBcp0aJdrl0HjZ9N45xaAAf0pBQFxUsXMJonp4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "User Question": "={{ $('When chat message received').item.json.chatInput }}",
            "AI Response": "={{ $('AI Agent').item.json.output }}",
            "Status": "={{ $('If').item.json.data.approved ? 'Approved' : 'Rejected' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Question",
              "displayName": "User Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Response",
              "displayName": "AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        32
      ],
      "id": "eb405e48-8b1f-4783-a68d-05e3ada7388e",
      "name": "Approved Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZGrOS6ZIK5uT83EM",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1088,
        544
      ],
      "id": "8b519d6c-ac06-4cb2-af4c-49535f92dfae",
      "name": "Webhook",
      "webhookId": "ad6354d0-8693-4c8f-bbae-5fce49dd5f6e"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        64,
        832
      ],
      "id": "10498797-0444-4ab4-9c28-24e6d0f16b1a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"answer\": \"{{ $json.output }}\"\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        640
      ],
      "id": "e3c69b01-1400-47f9-acae-cfbdba446986",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.chatInput}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -560,
        592
      ],
      "id": "89f59fb2-fab5-474d-a04d-28f9ca0e725f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -688,
        864
      ],
      "id": "614aa10e-433a-49d0-b897-f49c95324396",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "5c9894bGqJZLG79v",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -400,
        864
      ],
      "id": "c37609cf-8ab8-488b-894e-cc958133e38b",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -160,
        592
      ],
      "id": "0c67a79e-5328-4a56-a418-18f3c8ffb97d",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        864
      ],
      "id": "20fb1d36-c017-4400-9c56-41be050d637b",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "5c9894bGqJZLG79v",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Approved Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Rejected Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved Log": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4f8a336f-3c96-46d3-a991-289f74bb953e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e3c15f07a24283824bf7748ffcb8373586e8971261878aa67c25e140aca677d"
  },
  "nodeGroups": [],
  "id": "iOaAVS68TfHBDWds",
  "tags": []
}